<div id="parent" #container>
    <h2>Contact</h2>
    <div id="contact">
        <div class="child" id="childText">
            Reach out via LinkedIn or dive into all my work on Github!
        </div>
        <a href="https://www.linkedin.com/in/simon-buijs-264998a9/" target="_blank" class="child">
            <img src="/images/linkedin.png" width="40px">
        </a>
        <a href="https://github.com/ChefBaas" target="_blank" class="child">
            <img src="/images/github.png" width="40px">
        </a>
    </div>
</div>