body
{
    margin:0;
}
h2
{
    font-size:40px;
}
h3
{
    font-size:32px;
}
.text
{
    text-align: center;
    color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}